html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
  /* Evitamos que el navegador pelee con React */
  overflow: hidden; 
}

/* Solo permitimos scroll dentro de los componentes de React */
#root {
  display: flex;
  flex-direction: column;
}